<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<div th:fragment="footer">
<footer>
    Copyright <a href="http://www.bootstrapmb.com/">Arise</a> Admin <span>2016</span>
</footer>
<!-- Footer end -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.js}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- Sparkline Graphs -->
<!-- <script src="js/sparkline/sparkline.js"></script> -->
<script th:src="@{/js/sparkline/retina.js}"></script>
<script th:src="@{/js/sparkline/custom-sparkline.js}"></script>

<!-- jquery ScrollUp JS -->
<script th:src="@{/js/scrollup/jquery.scrollUp.js}"></script>

<!-- D3 JS -->
<script th:src="@{/js/d3/d3.v3.min.js}"></script>

<!-- D3 Power Gauge -->
<script th:src="@{/js/d3/d3.powergauge.js}"></script>

<!-- D3 Meter Gauge Chart -->
<script th:src="@{/js/d3/gauge.js}"></script>
<script th:src="@{/js/d3/gauge-custom.js}"></script>

<!-- C3 Graphs -->
<script th:src="@{/js/c3/c3.min.js}"></script>
<script th:src="@{/js/c3/c3.custom.js}"></script>

<!-- NVD3 JS -->
<script th:src="@{/js/nvd3/nv.d3.js}"></script>
<script th:src="@{/js/nvd3/nv.d3.custom.boxPlotChart.js}"></script>
<script th:src="@{/js/nvd3/nv.d3.custom.stackedAreaChart.js}"></script>

<!-- Horizontal Bar JS -->
<script th:src="@{/js/horizontal-bar/horizBarChart.min.js}"></script>
<script th:src="@{/js/horizontal-bar/horizBarCustom.js}"></script>

<!-- Gauge Meter JS -->
<script th:src="@{/js/gaugemeter/gaugeMeter-2.0.0.min.js}"></script>
<script th:src="@{/js/gaugemeter/gaugemeter.custom.js}"></script>

<!-- Calendar Heatmap JS -->
<script th:src="@{/js/heatmap/cal-heatmap.min.js}"></script>
<script th:src="@{/js/heatmap/cal-heatmap.custom.js}"></script>

<!-- Odometer JS -->
<script th:src="@{/js/odometer/odometer.min.js}"></script>
<script th:src="@{/js/odometer/custom-odometer.js}"></script>

<!-- Peity JS -->
<script th:src="@{/js/peity/peity.min.js}"></script>
<script th:src="@{/js/peity/custom-peity.js}"></script>

<!-- Circliful js -->
<script th:src="@{/js/circliful/circliful.min.js}"></script>
<script th:src="@{/js/circliful/circliful.custom.js}"></script>

<!-- Custom JS -->
<script th:src="@{/js/custom.js}
"></script>
</div>